@import "node_modules/@angular/material/prebuilt-themes/purple-green.css";
@import "node_modules/xterm/dist/xterm.css";
@import "node_modules/font-awesome/css/font-awesome.css";

html {
  background: linear-gradient(to right, darkgrey, linen);
}

/* override xterm style for positioning */
.terminal .xterm-rows {
  position: inherit !important;
  left: 0;
  top: 0;
}
