<h2 mat-dialog-title>Settings</h2>

<div class="vault-outer">
  <label>Vault DB file:</label><span class="db">{{ cliOptions.db }}</span>
</div>

<div class="outer" mat-dialog-content>
  <form #form="ngForm">

    <mat-form-field color="accent"
                    class="field">
      <input matInput
             placeholder="Timeout (mins)"
             required
             name="timeout"
             type="number"
             [(ngModel)]="settings.timeout"
             #timeOut="ngModel">
      <mat-error *ngIf="timeOut.control.hasError('required')">Timeout is required</mat-error>
    </mat-form-field>

    <mat-form-field color="accent"
                    class="field">
      <mat-select placeholder="Theme"
                  [(value)]="settings.theme"
                  name="theme"
                  id="selectTheme">
        <mat-option *ngFor="let t of themes"
                    [value]="t"
                    id="{{ t }}"
                    ngClass="selectSshKey_{{ t }}">
          {{ t }}
        </mat-option>
      </mat-select>
      <mat-hint align="end">Select application theme</mat-hint>
    </mat-form-field>

  </form>
  <div class="errmsg">{{ errmsg }}</div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button
          type="submit"
          [disabled]="form.invalid"
          (click)="submit($event)"
          id="saveSettingsButton">Save</button>
  <span class="horiz-filler"></span>
  <button mat-button
          mat-dialog-close
          id="cancelSettingsButton">Cancel</button>
</div>

<!--
    Copyright 2017-2018 Graham Lee Bevan <graham.bevan@ntlworld.com>

    This file is part of sshui https://github.com/gbevan/sshui.

    sshui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    sshui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

-->
