.vault-outer {
  color: darkgray;
}

.db {
  font-family: monospace;
  margin-left: 10px;
}

.outer {
  margin-top: 15px;
  min-width: 800px;
}

.field {
  display: block;
}

.horiz-filler {
  flex: 1 1 auto;
}

.errmsg {
  color: red;
  text-decoration: bold;
}
