<h2 mat-dialog-title>{{ credential.id ? 'Edit' : 'Add a new' }} Credential:</h2>

<form mat-dialog-content>

  <mat-form-field color="accent"
                  class="field">
    <input matInput
           placeholder="Enter unique name"
           required
           name="name"
           type="text"
           [(ngModel)]="credential.name">
  </mat-form-field>

  <div>
    <mat-form-field color="accent">
      <input matInput
             placeholder="User name"
             required
             name="user"
             type="text"
             [(ngModel)]="credential.user">
    </mat-form-field>

    <mat-form-field color="accent">
      <input matInput
             placeholder="User password"
             name="pass"
             type="password"
             [(ngModel)]="credential.pass">
    </mat-form-field>
  </div>

  <mat-form-field color="accent"
                  class="field">
    <mat-select placeholder="Key Size"
                [(value)]="credential.keySize">
      <mat-option *ngFor="let ks of keySizeOptions"
                  [value]="ks.value">
        {{ ks.label }}
      </mat-option>
    </mat-select>
    <mat-hint align="end">Key generation speed depends on system entropy)</mat-hint>
  </mat-form-field>

  <!-- TODO: option to generate a ssh key pair -->
  <button mat-button
          color="accent"
          (click)="generateSshKeyPair()">Generate KeyPair</button>

  <mat-spinner class="keySpinner"
               *ngIf="generatingKey"
               color="accent"
               [diameter]="20"></mat-spinner>

  <mat-form-field color="accent"
                  class="field">
    <textarea matInput
              placeholder="Public Key"
              rows="8"
              readonly
              name="pubKey"
              class="pubKey"
              [(ngModel)]="credential.pubKey">
    </textarea>
  </mat-form-field>
<!-- TODO:
  <button mat-raised-button
          color="accent"
          (click)="copyPubKeyToClipboard(credential.pubKey)">Copy</button>
-->

  <button mat-button
          color="warn"
          (click)="deleteKeypair()">Delete Keypair</button>


</form>

<div mat-dialog-actions>
  <button mat-raised-button
          type="submit"
          (click)="submit($event)">Save</button>
  <span class="horiz-filler"></span>
  <button mat-button
          mat-dialog-close>Cancel</button>
</div>

