
<div class="center-vaultpw">
  <h4>Creating a new vaulted database:</h4>
  <form #form="ngForm"
        id="newVaultPwForm">
    <mat-form-field class="vaultpw"
                    color="accent">
      <input matInput
             placeholder="Enter a New Vault Passphrase"
             required
             minlength="6"
             name="vaultpw"
             type="password"
             autofocus
             [(ngModel)]="vaultpw"
             #vaultPw="ngModel"
             (keyup)="validate(vaultPw2)">
      <mat-error *ngIf="vaultPw.control.hasError('required')">You must enter a new vault passphrase</mat-error>
      <mat-error *ngIf="vaultPw.control.hasError('minlength')">Minimum length is 6</mat-error>
    </mat-form-field>

    <mat-form-field class="vaultpw"
                    color="accent">
      <input matInput
             placeholder="ReEnter the New Vault Passphrase"
             required
             minlength="6"
             name="vaultpw2"
             type="password"
             autofocus
             [(ngModel)]="vaultpw2"
             #vaultPw2="ngModel"
             (keyup)="validate(vaultPw2)">
      <mat-error *ngIf="vaultPw2.control.hasError('required')">You must enter a new vault passphrase</mat-error>
      <mat-error *ngIf="vaultPw2.control.hasError('minlength')">Minimum length is 6</mat-error>
      <mat-error *ngIf="vaultPw2.control.hasError('dontMatch')">The new passwords must match</mat-error>
    </mat-form-field>

    <button mat-raised-button
            type="submit"
            [disabled]="form.invalid"
            (click)="submit()"
            id="createVaultButton">Create Vault</button>
  </form>
  <div class="errmsg">{{ errmsg }}</div>
</div>

<!--
    Copyright 2017-2018 Graham Lee Bevan <graham.bevan@ntlworld.com>

    This file is part of sshui https://github.com/gbevan/sshui.

    sshui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    sshui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

-->
