.flex-container {
  display: flex;
  flex-direction: row;
}

.field {
  display: block;
}

.largeleft {
  flex-grow: 4;
  margin-right: 5px;
}

.smallright {
  flex-grow: 1;
}

.horiz-filler {
  flex: 1 1 auto;
}
