<div>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="tableSource" matSort>

    <!-- Id Column -->
<!--
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>
-->

    <!-- TODO: Make name a button to jump to active xterm -->
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <!-- Host Column -->
    <ng-container matColumnDef="host">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Host</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.host }}</mat-cell>
    </ng-container>

    <!-- Port Column -->
    <ng-container matColumnDef="port">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Port</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.port }}</mat-cell>
    </ng-container>

    <!-- Cred Column -->
    <ng-container matColumnDef="cred">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cred</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.credname }}</mat-cell>
    </ng-container>

    <!-- Persistent Column -->
    <ng-container matColumnDef="persistent">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Persistent</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox color="accent"
                      [(ngModel)]="element.persistent"
                      [disabled]="true"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- connected status icon Column -->
    <ng-container matColumnDef="connected">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Conn?</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon fontSet="fa"
                  fontIcon="fa-plug"
                  class="fa-2x connect-icon"
                  [ngClass]="{
                             'activated': isActive(element.id),
                             'connected': isConnected(element.id),
                             'notconnected': isNotConnected(element.id)
                             }"
                  (click)="toggleState(element)"></mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Tunnel Local host -->
    <ng-container matColumnDef="localHost">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Local Host</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.localHost }}</mat-cell>
    </ng-container>

    <!-- Tunnel Local port -->
    <ng-container matColumnDef="localPort">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Local Port</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.localPort }}</mat-cell>
    </ng-container>

    <!-- Tunnel remote host -->
    <ng-container matColumnDef="remoteHost">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Remote Host</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.remoteHost }}</mat-cell>
    </ng-container>

    <!-- Tunnel remote port -->
    <ng-container matColumnDef="remotePort">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Remote Port</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.remotePort }}</mat-cell>
    </ng-container>

    <!-- Edit Button Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button
                color="accent"
                (click)="editLocalTunnel(element)">Edit</button>
      </mat-cell>
    </ng-container>

    <!-- Clone Button Column -->
    <ng-container matColumnDef="clone">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button
                color="accent"
                (click)="cloneLocalTunnel(element)">Clone</button>
      </mat-cell>
    </ng-container>

    <!-- Chart traffic -->
    <ng-container matColumnDef="traffic">
      <mat-header-cell *matHeaderCellDef
                       style="flex: 3;">Traffic (bytes)</mat-header-cell>
<!--      <mat-cell *matCellDef="let element">{{ counts[element.id] ? counts[element.id].bytesRead : 'n/a' }}</mat-cell>-->
      <mat-cell *matCellDef="let element"
                class="trafficChartCell"
                style="flex: 3;">
        <canvas *ngIf="countsHashDataset[element.id]"
                baseChart
                [options]="countsOptions"
                [labels]="countsLabels"
                [datasets]="countsHashDataset[element.id]"
                chartType="bar"></canvas>
        <div
          *ngIf="element.errmsg"
          class="errmsg"
        >{{ element.errmsg }}</div>
      </mat-cell>
    </ng-container>

    <!-- Delete Button Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button
                color="warn"
                (click)="delLocalTunnel(element)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[3, 5, 10, 20]"
                 showFirstLastButtons>
  </mat-paginator>

  <div>
    <button mat-raised-button
            color="primary"
            (click)="addLocalTunnel()">Add</button>
  </div>
</div>

<!--
    Copyright 2017-2018 Graham Lee Bevan <graham.bevan@ntlworld.com>

    This file is part of sshui https://github.com/gbevan/sshui.

    sshui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    sshui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

-->
