
/deep/ .mat-tab-label {
  color: black !important;
}

.show {
  display: initial;
}

.hide {
  display: none;
}

.toolbar {
  margin-bottom: 5px;
}

.footer {
  bottom: 0;
  display: block;
  font-size: 9pt;
  position: fixed;
  width: 100%;
}
