
<div *ngIf="lowdbService.getState() === 'nodb'; else stateElse">
  <newvaultpw></newvaultpw>
</div>

<ng-template #stateElse>
  <div *ngIf="lowdbService.get() === ''">
    <vaultpw></vaultpw>
  </div>

  <div *ngIf="lowdbService.get() !== ''">
    <toolbar (section)="show($event)"></toolbar>

    <manage [ngClass]="{'show': section === 'manage', 'hide': section !== 'manage'}"></manage>

    <active-sessions [ngClass]="{'show': section === 'sessions', 'hide': section !== 'sessions'}"></active-sessions>
  </div>
</ng-template>
