.title {
  text-align: center;
  background-color: darkgray;
}

.sshterminal {
/*  height: -webkit-fill-available*/
/*  height: auto;*/
/*  width: 100%;*/
}

.termtools {
  background-color: darkgray;
  border-top: 1px black dotted;
}
