.title {
  text-align: center;
  background-color: darkgray;
}

.sshterminal {
  /* height: -webkit-fill-available */
  /*  height: auto;*/
  /*  width: 100%; */
  border: 2px inset white;
  /* height: 1500px;
  width: 1500px; */

  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}

.termtools {
  background-color: darkgray;
  border-top: 1px black dotted;
}

.scrollnote {
  font-size: 8pt;
}
